<div class="card">
    <div class="card-header">
        <span class="badge bg-success m-3 p-2">{{gitProfile.followers}}Followers</span>
        <span class="badge bg-danger m-3 p-2">{{gitProfile.public_repos}} Repositories</span>
        <span class="badge bg-danger m-3 p-2 ">{{gitProfile.public_repos}} Repositories</span>
        <span class="badge bg-danger m-3 p-2">{{gitProfile.public_gists}} Gists</span>
        <span class="badge bg-primary m-3 p-2">{{gitProfile.following}} Following</span>



    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">User Name : <span class="font-weight-bold">{{gitProfile.name}}</span> </li>

            <li class="list-group-item">Location :{{gitProfile.location}}</li>

            <li class="list-group-item">Email :{{gitProfile.email}}</li>

            <li class="list-group-item">Company : {{gitProfile.company}}</li>

            <li class="list-group-item">Blog : {{gitProfile.blog}}</li>

            <li class="list-group-item">Member since : {{gitProfile.created_at | date}}</li>
            <li class="list-group-item">profile URL : <a [href]="gitProfile.html_url" target="_blank">{{gitProfile.html_url}}</a></li>





        </ul>
    </div>
</div>