<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-spin" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>


<div class="cont-1 container">
    <h3 class="res text-center ">L<span><i class="fa-solid fa-magnifying-glass"></i></span>oking </h3>
    <p class="res-1 text-center">for a software developer Well<span class="spanned"> help has arrived.</span> </p>
    <div class="row">
        <div class="col">
            <div class="card-1 ">
                <!-- <div class="card-header">
                    <h3>Github search</h3>

                </div> -->
                <div class=" mt-5">
                    <form class="form-inline" (submit)="searchUser()">
                        <div class=" form-group">
                            <input id="search" [(ngModel)]="userQuery" name="user" size="40" type="search" class="form-control" placeholder=" Enter github user name" ngModel>


                            <input id="button" type="submit" value="search" class="px-4 btn btn-secondary btn-sm">
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-profile [gitProfile]="gitProfile"></app-github-profile>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-repos [gitRepo]="gitRepo"></app-github-repos>
        </div>
    </div>
</div>